Body {
  font-family: sans-serif;
  background: #f8f8ff;
}

/*tamaño de fuente de título */
header{
  font-size: 12px;
}

ul{
  list-style: none; /*Se quita el delineado automatico de la etiqueta "anchor"*/
  padding: 0;
  margin: 0;
  line-height: 50px;
}


li{
  background: #232323;
  /*font-size: 18px;*/
  float: left; /* Se aplico float al menu para que el se puede delizar hacía la derecha*/
  width: 150px;
  text-align: center;
}

/* Se le añadio el display: Block para que haya mas espacio de ancho y el color de letra que le atribuye es blanco */
a{
  outline: 1px purple border;
  display:block;
  text-decoration: none;
  color: white;
}

/* Cuando el mouse pasa por el menu horizontal, las letras se convertiran en negro y el color de fondo, anaranjado*/
a:hover{
  background: #ffbf00; /*anaranjado*/
  color: black;
}
